body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier,monospace;
background: rgb(24,91,179);
background: linear-gradient(90deg, rgba(24,91,179,1) 6%, rgba(189,96,212,1) 49%, rgba(204,98,206,1) 58%, rgba(213,99,202,1) 63%, rgba(148,121,221,1) 100%, rgba(217,110,192,1) 100%, rgba(2,0,36,1) 100%, rgba(0,212,255,1) 100%);
}

button{
	cursor: pointer;
}
